<div class="container1">
  <div class="form-container">
    <p class="title">User Login</p>
    <form class="form" action="/login" method="POST" autocomplete="off" >
      <div class="col-12">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-envelope"></i></span>
          <input type="email" class="input form-control" placeholder="Email Address" name="email" value="apjishnu385@gmail.com" required>
        </div>
      </div>
      <div class="col-12">
        <div class="input-group mb-3">
          <span class="input-group-text"><i class="fas fa-lock"></i></span>
          <input type="password" name="password" class="form-control" id="password" placeholder="password" value="123"
            required="true">
          <span class="input-group-text" onclick="password_show_hide();">
            <i class="fas fa-eye" id="show_eye"></i>
            <i class="fas fa-eye-slash d-none" id="hide_eye"></i>
          </span>
        </div>
        <a class="forgot-password" onclick="forgotPassword()" id="forgotPasswordLink" style="font-size:x-small">Forgot Password?</a>

        {{#if logErr}}
        <p id="error-message" class="error text-danger text-center" style="font-size:15px;margin-top:5px;margin-bottom:-27px">{{logErr}}</p>
        <script>
          // Function to hide the error message after 5 seconds
          function hideErrorMessage() {
            var errorMessage = document.getElementById('error-message');
            if (errorMessage) {
              errorMessage.style.display = 'none';
            }
          }
          // Hide the error message after 5 seconds
          setTimeout(hideErrorMessage, 5000); // 5000 milliseconds = 5 seconds
        </script>
        {{/if}}
      </div>
      <div class="col-sm-12 signup text-right mt-2">
        <p>Create a account? <a href="/signup" class="sign-up-link">Register</a></p>
      </div>
      <button class="submit">Login</button>
    

    </form>

  </div>
</div>